.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-font-light);
  background-color: var(--color-bgd3);
  width: 100%;
  min-width: 350px;
  height: 12vh;
  padding: 0 5%;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
  transition: top 0.3 ease-out;
  user-select: none;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0 2.2rem;
}

.themeSwitch {
  width: 30%;
  height: 100%;
  color: var(--color-switch);
  font-size: 3.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeSwitchVert {
  width: 30%;
  margin-bottom: 10px;
  color: var(--color-switch);
  font-size: 3.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openNav,
.closeNav {
  color: var(--color-sub);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.closeNav {
  padding: 2%;
  margin-left: 80%;
}
.openNav {
  display: none;
}

.closeNav:hover {
  color: rgb(238, 124, 11);
  opacity: 100%;
  transform: rotate(90deg);
}

.vertNavbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 100%;
  color: var(--color-font-light);
  background-color: var(--color-bgd3);
  width: 100%;
  min-width: 350px;
  padding-left: 2%;
  padding-right: 1%;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
  opacity: 0.85;
  transition: left 0.3 ease-out;
}

.vertNavbar > a {
  font-size: 2.5rem;
  margin: 10px 0;
}

.cartLogOpen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.loginContainer {
  height: 100%;
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.loginContainerVert {
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.appLoading {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-bgd3-trsp);
  color: var(--color-font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .navbar > a {
    display: none;
    font-size: 3.5rem;
  }
  .openNav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cartLogOpen {
    margin: 0 0 0 52%;
  }
}

@media (max-width: 400px) {
  .cartLogOpen {
    margin: 0 0 0 40%;
  }
}
