.productDetails {
  padding: 0 20px;
  padding-top: 15vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  min-width: 350px;
  min-height: 90vh;
}

.prodImgDiv {
  width: 25%;
  padding: 10px 20px;
}

.prodTitleDiv {
  width: 75%;
  padding: 10px 20px;
}
.image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.price {
  color: var(--color-font);
  font-size: 2.5rem;
}
.quantityDiv {
  border-top: 1px solid var(--color-font);
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.title {
  font-size: 3rem;
}
@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
    align-items: center;
  }
  .prodImgDiv {
    width: 60%;
  }

  .prodTitleDiv {
    width: 90%;
  }

  .title {
    font-size: 2.5rem;
  }
}
