/* Custom properties/variables  */
:root {
  --color-bgd: #131325;
  --color-bgd2: #17173b;
  --color-bgd3: rgba(0, 0, 0);
  --color-font: #f3f3f3;
  --color-font-light: #b8afaf;
  --color-links: #a4a4ad;
  --color-sub: rgb(238, 18, 11);
}

.dark-theme {
  --color-bgd: #131325;
  --color-bgd2: #17173b;
  --color-bgd3: rgba(0, 0, 0);
  --color-font: #f3f3f3;
  --color-font-light: #b8afaf;
  --color-links: #a4a4ad;
  --color-sub: #ee120b;
  --color-switch: gold;
}
.light-theme {
  --color-bgd: #f3f3f3;
  --color-bgd2: #e8e8c4;
  --color-bgd3: rgba(255, 255, 255);
  --color-font: #131325;
  --color-links: #5b5b52;
  --color-font-light: #475050;
  --color-sub: #ee120b;
  --color-switch: #0026ff;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  transition: all 0.5s ease-out;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-font-light);
  margin-top: 10px;
  min-width: 300px;
  background-color: var(--color-bgd);
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-links);
  font-weight: 600;
}

a:hover,
a:focus {
  color: var(--color-font);
  outline: none;
}

button {
  width: 15rem;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 2rem;
  color: var(--color-font);
  background-color: var(--color-bgd2);
  border: 2px solid var(--color-font);
}
button:hover,
button:focus {
  background-color: var(--color-font);
  color: var(--color-bgd2);
  border: 2px solid var(--color-bgd2);
  outline: none;
}
button:active {
  color: var(--color-sub);
}

button:disabled {
  cursor: not-allowed;
}

image {
  object-fit: cover;
  display: block;
}

.aboutDiv {
  padding: 30px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutTextDiv,
.aboutImgDiv {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutFeaturedDiv {
  padding: 30px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutFeaturedImgDiv {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .aboutFeaturedImgDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .aboutDiv {
    flex-direction: column;
  }
  .aboutTextDiv,
  .aboutImgDiv {
    width: 100%;
    padding: 10px;
  }
}
