/* Custom properties/variables  */
:root {
  --main-dark: #000000;
  --main-white: #f0f0f0;
  --main-red: #e41b36;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-lightGray: #87a0bd;
  --main-green: #43e409;
  --main-transparent: rgba(255, 255, 255, 0);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--main-dark);

  margin-top: 10px;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-dark);
  font-weight: 600;
}

.global-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}

.title-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-width: 350px;
}

.progress-div {
  margin: 10px auto;
}
.question-container {
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.answer {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 3px solid var(--main-transparent);
}

.answer:hover {
  border: 3px solid var(--main-gray);
}

.answer-correct {
  background-color: var(--main-gray);
  color: var(--main-green);
}

.answer-wrong {
  background-color: var(--main-gray);
  color: var(--main-red);
}

.answer-status {
  height: 5vh;
}

.loading {
  text-align: center;
  font-size: inherit;
}

.results-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.results-sum {
  margin: 10px 0;
}

.details-div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button {
  font-weight: 600;
  padding: 5px;
  background-color: var(--main-dark);
  color: var(--main-white);
  width: 200px;
  margin: 5px 0;
  font-size: 1.8rem;
  cursor: pointer;
}
button:active {
  background-color: var(--main-white);
  color: var(--main-dark);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}
label {
  width: 300px;
}
input,
select {
  width: 300px;
  margin-bottom: 5px;
  height: 30px;
  font-weight: 700;
  font-size: inherit;
  padding: 0 5px;
  cursor: pointer;
}
