.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
  width: 100%;
}

.productPad {
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--color-bgd2);
  width: 100%;
  height: 280px;
}

.productPadHeightDet {
  height: 300px;
}

.image {
  width: 100%;
  height: 70%;
  position: relative;
}

.withDescription {
  display: flex;
  height: 100%;
}

.imageHalf {
  width: 25%;
  height: 100%;
  position: relative;
}

.description {
  width: 75%;
  overflow-y: auto;
}

.productTitleDiv {
  width: 100%;
  color: var (--color-font-light);
  padding: 10px;
  font-weight: 700;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.productTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-bgd2);
  width: 100%;
  color: aliceblue;
  transform: translateY(100%);
  transition: all 0.3s linear;
  padding: 10px;
  font-weight: 700;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.productButton {
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
  font-size: 4rem;
  cursor: pointer;
  background-color: var(--color-bgd);
  border-radius: 25%;
  height: 40px;
}

.productButtonDet {
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
  font-size: 4rem;
  cursor: pointer;
  background-color: var(--color-bgd);
  border-radius: 25%;
  height: 40px;
}

.productPad:hover {
  color: var(--color-font);
}
.productPad:hover .productButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productPad:hover .productButtonDet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productPad:hover .image {
  opacity: 50%;
}

.productPad:hover .imageHalf {
  opacity: 50%;
}

/* do the same for when focus within product pad*/

.productPad:focus-within {
  color: var(--color-font);
}

.productPad:focus-within .productButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productPad:focus-within .productButtonDet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.productPad:focus-within .image {
  opacity: 50%;
}

.productPad:focus-within .imageHalf {
  opacity: 50%;
}

.productsPageDiv {
  padding-top: 15vh;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  min-height: 85vh;
}
.filterDiv {
  width: 22%;
}
.sortDiv {
  width: 100%;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--color-font-light);
  font-size: 1.8rem;
}

.sortDiv select {
  font-size: 1.6rem;
  padding: 5px;
  color: var(--color-bgd);
  background-color: var(--color-font-light);
  cursor: pointer;
}

.rightDiv {
  width: 78%;
  display: flex;
  flex-direction: column;
}

.displayBut {
  font-size: 2.2rem;
  margin: 5px;
  cursor: pointer;
}

.descriptionText {
  text-align: justify;
  padding: 10px;
}

.loading {
  padding: 30px;
  text-align: center;
  font-size: 2.2rem;
}

@media (max-width: 992px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .withDescription {
    flex-direction: column;
    align-items: center;
  }

  .imageHalf {
    width: 80%;
    margin: 0 auto;
    min-height: 50%;
  }

  .description {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .productsPageDiv {
    flex-direction: column;
  }
  .filterDiv {
    width: 100%;
  }
  .rightDiv {
    width: 100%;
  }
  .productPad {
    height: 250px;
  }
  .image {
    height: 75%;
  }
  .productPadHeightDet {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .sortDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
